[Desktop Entry]
Encoding=UTF-8
Name=KPicosim
Exec=kpicosim
Icon=kpicosim
Type=Application
Comment=PicoBlaze IDE
Comment[nl]=PicoBlaze Ontwikkelomgeving
